extends baseEmail

block content
  table(style="position: relative; display: block; max-width: 600px; width: 600px; margin: 0 auto; padding: 0; border: 3px groove #BBBBBB77; border-top: none; border-bottom: none; background-color: #CCCCCC33; color: #333333;") 
    tbody
      tr.table-row
        td.table-data(style="position: relative; display: block; width: 89%; margin: 0 auto;")  
          blockquote.salutations(style="position: relative; border: none; margin: 0 auto 30px; text-indent: 20px; font-size: 16px; color: #333333;")= `${greeting} ${myFirstName} ${myLastName},`
      tr.table-row 
        td.table-data(style="position: relative; display: block; width: 87%; margin: 0 auto;") 
          blockquote.salutations(style="position: relative; border: none; text-indent: 20px; font-size: 16px; color: #333333;") My name is #{firstname} #{lastname}.  I would love to chat sometime.  My preference would be via #{communicationPreference.toLowerCase()}.  My phone number is #{phoneNumber} and my email is #{email}.  Hopefully, around #{startTime} to #{endTime} on #{longDate} will work for you.  Thanks!  Hope to talk to you soon!
      tr.table-row(style="position: relative; display: flex; text-align: center; width: 100%; padding: 10px 0;") 
        td.table-button(style="position: relative; display: block; width: 40%; margin: 0 auto; padding: 0; border: 2px solid #2a7fff; border-radius: 15px; background-color: rgba(42,127,255,.6); color: #FAFAFA99;" onmouseover="this.style.backgroundColor = #2a7fff; this.color = #FAFAFA;" onmouseleave="this.style.backgroundColor = #2A7FFF55; this.color = #FAFAFA99;")
          a.link(href=`${urlOne}/${date}/${startTime}/${endTime}/${email}/${phoneNumber}/${communicationPreference}/${firstname}/${lastname}/${myFirstName}/${myLastName}/${myCompany}`, target="_blank" style="position: relative; display: block; width: 83.5%; padding: 20px; border-radius: 10px; margin: auto; font-size: 18px; text-decoration: none; color: rgba(250, 250, 250, .8)" onmouseover=" this.style.color = #FAFAFA;") Accept
        td.table-button(style="position: relative; display: block; width: 40%; margin: 0 auto; padding: 0; border: 2px solid #2a7fff; border-radius: 15px; background-color: rgba(42,127,255,.6); color: #FAFAFA99;" onmouseover="this.style.backgroundColor = #2a7fff; this.color = #FAFAFA;" onmouseleave="this.style.backgroundColor = #2A7FFF55; this.color = #FAFAFA99;")
          a.link(href=`${urlTwo}/${date}/${startTime}/${endTime}/${email}/${firstname}/${lastname}/${myFirstName}/${myLastName}/${myCompany}`, target="_blank" style="position: relative; display: block; width: 83.5%; padding: 20px; border-radius: 10px; margin: auto; font-size: 18px; text-decoration: none; color: rgba(250, 250, 250, .8)" onmouseover=" this.style.color = #FAFAFA;") Decline
      tr.disclaimer(style="position: relative; margin: 0 auto; padding: 20px 0 0; display: block; width: 87%; font-size: 16px;" colspan="2")
        td.disclaimer-text(style="position: relative; text-align: center; padding: 0 20px;") If you had not requested this, or did not forget your username or password, please disregard this email. 😄 👍