extends baseEmail

block content
  table(style="position: relative; display: block; max-width: 600px; width: 600px; margin: 0 auto; padding: 0; border: 3px groove #BBBBBB77; border-top: none; border-bottom: none; background-color: #CCCCCC33; color: #333333;") 
    tbody
      tr.table-row
        td.table-data(style="position: relative; display: block; width: 89%; margin: 0 auto;")  
          blockquote.salutations(style="position: relative; border: none; margin: 0 auto 30px; text-indent: 20px; font-size: 16px; color: #333333;")= `${greeting} ${firstname} ${lastname},`
      tr.table-row 
        td.table-data(style="position: relative; display: block; width: 87%; margin: 0 auto;") 
          blockquote.salutations(style="position: relative; border: none; text-indent: 20px; font-size: 16px; color: #333333;") Hello, this is #{myFirstName} #{myLastName} of #{myCompany}.  Thank you so much for wanting to connect with me!  You are receiving this email to confirm that the appointment you requested from #{startTime} to #{endTime} on #{longDate} is now on my schedule.  If anything comes up, I get it!  Below is a button to cancel our appointment, and it will be as easy as rescheduling on my website at https://www.purenspiration.com.  Also, if things just need to be rescheduled, cancel the appointment, and you can reach me at my email at #{myEmail}, and my phone number is #{myPhoneNumber}.  I check my email frequently, and if you leave a message with your name and number on my phone, I will respond as quickly as I can.


          //- I will need to make an email be sent to notify me if something has been cancelled.  Along with that, I need a way to re-schedule or cancel appointments on my end as well.  Only after confirming with the client of course.  Oh, and finally, I will need to make the second button on the request actually send an email to the potential client to let them know the request was denied, or at least go to a page with a way to store the info needed, and a text area for me to notify them WHY it was denied.  Then make sure that there is a pre-written response for it if the text area is empty.


      tr.table-row(style="position: relative; display: flex; text-align: center; width: 100%; padding: 10px 0;") 
        td.table-button(style="position: relative; display: block; width: 40%; margin: 0 auto; padding: 0; border: 2px solid #2a7fff; border-radius: 15px; background-color: rgba(42,127,255,.6); color: #FAFAFA99;" onmouseover="this.style.backgroundColor = #2a7fff; this.color = #FAFAFA;" onmouseleave="this.style.backgroundColor = #2A7FFF55; this.color = #FAFAFA99;")
          a.link(href=`${urlThree}/${date}/${startTime}/${endTime}/${email}/${phoneNumber}/${communicationPreference}/${firstname}/${lastname}/${myFirstName}/${myLastName}/${myCompany}`, target="_blank" style="position: relative; display: block; width: 83.5%; padding: 20px; border-radius: 10px; margin: auto; font-size: 18px; text-decoration: none; color: rgba(250, 250, 250, .8)" onmouseover=" this.style.color = #FAFAFA;") Cancel
      tr.disclaimer(style="position: relative; margin: 0 auto; padding: 20px 0 0; display: block; width: 87%; font-size: 16px;" colspan="2")
        td.disclaimer-text(style="position: relative; text-align: center; padding: 0 20px;") If you had not requested this, or did not forget your username or password, please disregard this email. 😄 👍